/* .main-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary-blue);
    width: 80vw;
    height: 80vh;
    border-radius: 50px;
}

.qr {
    border: 20px;
    border-style: solid;
    border-color: lightgray;
    border-radius: 16px;
    width: 30vw;
    height: 30vw;
}

h1 {
    text-align: left;
    margin-bottom: 5vh;
    width: 90%;
    color: white;
}

h2 {
    text-align: center;
    font-size: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    height: 50vh;
}

h5 {
    font-size: 16px;
}

textarea {
    resize: none;
    width: 100%;
    height: 60px;
    border-radius: 10px;
}

input {
    width: 100%;
    height: 40px;
    border-radius: 10px;
}

.main-container h5 {
    align-self: flex-start;
    text-align: left;
}

.submit, .back {
    position: absolute;
    bottom: 0;
}

.back {
    position: absolute;
    bottom: 5%;
}

.message {
    text-align: center;
    position: absolute;
    bottom: 100px;
}

.error {
    color: #C33131;
}

.success {
    color: #39C978;
}

.infinite-scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 75%;
    overflow-y: auto;
    scrollbar-width: none;

} */