.mainContainer {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: left;
    overflow-y: auto;
    scrollbar-width: none;
    max-height: 80vh;
    min-width: 280px;
}
.clear {
    border-radius: 12px;
    color: #555;
    padding: 4px;
    margin: 2px;
}

.none {
    padding: 4px;
    color: #555;
}

.clear:hover {
    background-color: #eee;
}

.unseenCount {
    position: absolute;
    color: white;
    font-weight: bold;
    background-color: #FF3B30;
    border-radius: 50px;
    text-align: center;
    padding: 0 2px;
    right: -4px;
    top: -4px;
}

.unseenCount:hover {
    cursor: pointer;
}

.button {
    border-radius: 50px;
    height: 48px;
    width: 48px;
    background-color: var(--color-light-gray);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.messageContainer {
  display: flex;
  background-color: white; 
  border-color: #555;
  border-radius: 12px;
  padding: 12px 16px;

  cursor: pointer;
}

.messageContainer:hover {
  background-color: #f0f0f0;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.title {
  font-weight: 600;
  font-size: 12px;
  color: #111;
}

.text {
  font-size: 13px;
  color: #555;
  line-height: 1.4;
}

.unseen {
  background-color: #fff0f0;
  border-left: 3px solid #ff7f7f;
  padding-left: 12px; 
}

@media (max-width: 768px) {
    .button {
        height: 36px;
        width: 36px;
    }

    .mainContainer {
        min-width: 200px;
    }
}
