.container {
  width: 100%;
  color: black;
  max-width: 600px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background: #f9f9f9;
  font-family: 'Neue Montreal', sans-serif;
  margin: 16px;
}

.input {
  width: 100%;
  height: 80px;
  padding: 8px;
  margin-bottom: 10px;
  font-size: 14px;
  border: 1px solid #bbb;
  font-family: 'Neue Montreal', sans-serif;
  border-radius: 4px;
  margin-top: 16px;
}

.textInput {
  text-align: center;
}

.send {
  width: 100%;
  padding: 10px;
  border: none;
  color: white;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}

.send:hover {
  background: #0056b3;
}