.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 24px;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 300px;
}

.welcome {
  text-align: center;
  font-size: 20px;
}